@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Wix Madefor Text', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    background: #ffffff;
    text-align: center;
}