@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;700;800&display=swap');

nav{
    display: flex;
    font-family: 'Wix Madefor Display';
    padding: 1rem;

    >.aarika{
        width: 15%;
        color: #2E8B57;
        font-weight: 700;
        font-size: 2rem;
    }

    >.links{
        display: flex;
        justify-content: space-evenly;
        width: 70%;
        color: black;
        font-weight: 500;
        padding-top: 0.7rem;
        padding-left: 8rem;

        >.hashes:after{
            display: block;
            content: "";
            background: #2E8B57;
            height: 3px;
            width: 0;
            left: 0;
            bottom: -10px;
            transition: 0.4s;
        }

        >.hashes:hover{
            color: green;
        }

        >.hashes:hover:after{
            width: 100%;
        }
    }

    >.demo{
        width: 15%;
    }
}