@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;700;800&display=swap');

main{

    >.get-introduced{

        >.features-main-content{

            >h1{
                text-align: center;
                font-family: 'Wix Madefor Display', sans-serif;
                font-weight: 800;
                font-size: 2.5rem;
                padding-bottom: 1.5rem;
            }

            >h1::after{
                display: block;
                content: '';
                margin: 0 20rem;
                background: lightgrey;
                padding: 0.5px;
            }

            >p{
                color: grey;
                margin: 0 10rem;
                font-size: 1rem;
                padding-bottom: 6rem;

                >span{
                    font-weight: bolder;
                }
            }
        }

        >.cards-below{

            >h1{
                font-size: 2.2rem;
                padding-bottom: 2.5rem;

                >span{
                    font-weight: 800;
                }
            }

            >p{
                color: gray;
            }
        }
        >.cards{
            display: block;
            padding-bottom: 2rem;

            >.f3{
                display: flex;
                justify-content: center;
                padding-top: 3rem;

                >.video{
                    height: 300px;
                    width: 300px;
                    overflow: hidden;
                    position: relative;
                    margin: 0 2rem;
                  
                  >video{
                    min-width: 18rem;
                    min-height: 18rem;
                    object-fit: fill;
                    position: absolute;
                    border-radius: 1rem;
                  }

                  >.vid-content{
                    z-index: 1;
                    position: relative;
                    text-align: center;
                    padding: 10px;
                    background: transparent;
                    margin-top: 2rem;

                    >.logo{
                        font-size: 3rem;
                        color: palevioletred;
                        background: transparent;
                        margin-left: -8rem;
                        margin-top: -2rem;
                        
                    }

                    >.text{
                        background: transparent;
                        color: grey;

                        >span{
                            font-size: 1.5rem;
                            color: black;
                            font-weight: 900;
                            background: transparent;
                        }
                    }
                  }
                }
            }

            >.s3{
                display: flex;
                justify-content: center;
                padding-top: 3rem;

                >.video{
                    height: 300px;
                    width: 300px;
                    overflow: hidden;
                    position: relative;
                    margin: 0 2rem;
                  
                  >video{
                    min-width: 18rem;
                    min-height: 18rem;
                    object-fit: fill;
                    position: absolute;
                    border-radius: 1rem;
                  }

                  >.vid-content{
                    z-index: 1;
                    position: relative;
                    text-align: center;
                    padding: 10px;
                    background: transparent;
                    margin-top: 2rem;

                    >.logo{
                        font-size: 3rem;
                        color: palevioletred;
                        background: transparent;
                        margin-left: -8rem;
                        margin-top: -2rem;
                        
                    }

                    >.text{
                        background: transparent;
                        color: grey;

                        >span{
                            font-size: 1.5rem;
                            color: black;
                            font-weight: 900;
                            background: transparent;
                        }
                    }
                  }
                }
            }

            >.t3{
                display: flex;
                justify-content: center;
                padding-top: 3rem;

                >.video{
                    height: 300px;
                    width: 300px;
                    overflow: hidden;
                    position: relative;
                    margin: 0 2rem;
                  
                  >video{
                    min-width: 18rem;
                    min-height: 18rem;
                    object-fit: fill;
                    position: absolute;
                    border-radius: 1rem;
                  }

                  >.vid-content{
                    z-index: 1;
                    position: relative;
                    text-align: center;
                    padding: 10px;
                    background: transparent;
                    margin-top: 2rem;

                    >.logo{
                        font-size: 3rem;
                        color: palevioletred;
                        background: transparent;
                        margin-left: -8rem;
                        margin-top: -2rem;
                        
                    }

                    >.text{
                        background: transparent;
                        color: grey;

                        >span{
                            font-size: 1.5rem;
                            color: black;
                            font-weight: 900;
                            background: transparent;
                        }
                    }
                  }
                }
            }
        }
    }

    >.process-det{
        padding-top: 3rem;

        >.process-content{
            display: flex;
            margin: 0 10rem;
            padding-bottom: 2rem;

            >.content-left{
                width: 30%;

                >p{
                    text-align: left;

                    >span{
                        font-weight: bold;
                    }
                }
            }

            >.image-middle{
                width: 40%;
                
                >img{
                    padding-left: 3rem;
                    min-width: 25rem;
                    max-height: 36rem;
                    margin-top: -1rem;
                }
            }

            >.content-right{
                width: 30%;

                >p{
                    text-align: left;

                    >span{
                        font-weight: bold;
                    }
                }
            }
        }

        >.red-bar{
            background: palevioletred;
            padding: 3rem 9rem;

            >h1{
                display: flex;
                background: palevioletred;
                font-size: 2rem;
                font-weight: 500;
                color: white;

                >button{
                    margin-top: -0.2rem;
                    margin-left: 0.3rem;
                    padding: 1rem;
                    background: transparent;
                    border: solid yellow 2px;
                    border-radius: 1rem;
                    font-size: 1.2rem;
                }

                >button:hover{
                    transition: 0.5s;
                    background: yellow;
                    color: black;
                }
            }
        }

        >.bulk-sms-process{
            padding: 3rem 0;
            
            >h1{
                font-size: 3rem;
                font-weight: 700;
            }

            >p{
                color: grey;
                font-size: 1.2rem;
            }

            >.card-start{
                display: flex;
                margin: 2.5rem 5.5rem;

                >.cards{
                    margin: 0 0.5rem;

                    >.logo{
                        font-size: 4.7rem;
                    }

                    >.logo:hover{
                        scale: 115%;
                        transition: 0.7s;
                    }

                    >.card-box{
                        background: white;
                        margin-top: 0.5rem;

                        >h4{
                            font-size: 1.3rem;
                            font-weight: 900;
                        }

                        >p{
                            padding: 0 4rem;
                        }
                    }
                }
            }
        }
    }

    >.prices{
        padding: 4rem 0;

        >h1{
            font-size: 3rem;
            font-weight: 700;
            word-spacing: 0.5rem;
            letter-spacing: 0.1rem;
            padding-bottom: 2rem;

            >span{
                color: red;
            }
        }

        >p{
            font-size: 1.1rem;
            color: grey;
            padding: 0 10rem;
        }

        >.table{
            margin: 0 8rem;

            >.tab{
                padding: 2rem 0;
                font-size: 3rem;
                font-weight: 600;
            }
        }

        >.price-end{
            display: flex;

            >.get-demo{
                text-align: left;
                padding: 2.5rem 1rem 2rem 6rem;
                width: 50%;
                background: rgb(63, 60, 60);
                color: white;
                font-size: 3.8rem;

                >span{
                    background: rgb(63, 60, 60);
                    color: #ff4040;
                }
            }

            >.promotional-sms{
                text-align: left;
                color: white;
                width: 50%;
                background: #ff4040;
                font-size: 1.1rem;
                padding: 3.5rem 2rem 2rem 3rem;

                >span{
                    background: #ff4040;
                    font-weight: 900;
                }
                

                >button{
                    border: solid black 1px;
                    border-radius: 1rem;
                    padding: 1rem 2rem 1rem 2rem;
                    background: red;
                }
            }
        }
    }

    >.contact-us{
        padding-bottom: 4rem;

        >h1{
            font-size: 2.5rem;

            >span{
                font-weight: 900;
            }
        }

        >p{
            padding: 0 12rem;
            text-align: left;
            font-size: 1.4rem;
            font-weight: 100;
            color: rgb(97, 94, 94);
        }

        >.details{
            display: flex;

            >.address{
                width: 50%;
                padding: 5rem 10rem;

                >span{
                    font-weight: 700;
                }
            }

            >.details-input{
                width: 50%;

                >form{
                    display: block;

                    >.text{
                        color: grey;
                        
                        >span{
                            font-weight: 700;
                            color: black;
                        }
                    }

                    >.cf3{
                        display: flex;
                        justify-content: center;
                        margin-top: 2rem;

                        >.name{
                            margin-right: 4rem;

                            >input{
                                border: solid rgba(0, 0, 0, 0.715) 1px;
                                border-radius: 1rem;
                                padding: 0.3rem 0.8rem;
                                font-size: 1.1rem;
                                text-align: left;
                                font-weight: 500;
                            }

                            >input::placeholder{
                                color: grey;
                                text-align: center;
                                font-weight: 700;
                            }

                            >input:focus{
                                border: solid grey 2px;
                            }
                        }

                        >.email{

                            >input{
                                border: solid rgba(0, 0, 0, 0.715) 1px;
                                border-radius: 1rem;
                                padding: 0.3rem 0.8rem;
                                font-size: 1.1rem;
                                text-align: left;
                                font-weight: 500;
                            }

                            >input::placeholder{
                                color: grey;
                                text-align: center;
                                font-weight: 700;
                            }

                            >input:focus{
                                border: solid grey 2px;
                            }
                        }
                    }

                    >.cs3{
                        display: flex;
                        justify-content: center;
                        margin-top: 1.5rem;

                        >.mobile-no{
                            margin-right: 4rem;

                            >input{
                                border: solid rgba(0, 0, 0, 0.715) 1px;
                                border-radius: 1rem;
                                padding: 0.3rem 0.8rem;
                                font-size: 1.1rem;
                                text-align: left;
                                font-weight: 500;
                            }

                            >input::placeholder{
                                color: grey;
                                text-align: center;
                                font-weight: 700;
                            }

                            >input:focus{
                                border: solid grey 2px;
                            }
                        }

                        >.city{

                            >input{
                                border: solid rgba(0, 0, 0, 0.715) 1px;
                                border-radius: 1rem;
                                padding: 0.3rem 0.8rem;
                                font-size: 1.1rem;
                                text-align: left;
                                font-weight: 500;
                            }

                            >input::placeholder{
                                color: grey;
                                text-align: center;
                                font-weight: 700;
                            }

                            >input:focus{
                                border: solid grey 2px;
                            }
                        }
                    }

                    >.ct3{
                        display: block;
                        justify-content: center;
                        margin: 1.5rem 7rem 1rem 7rem;

                        >.message{

                            >textarea{
                                margin-top: 2rem;
                                height: 12rem;
                                width: 31rem;
                                border: solid black 1px;
                                border-radius: 1rem;
                                padding: 2rem;
                                text-align: left;
                                font-size: 1.5rem;
                            }
                        }
                    }

                    >button{
                        border-radius: 1rem;
                        padding: 0.4rem 2rem;
                        background: lightskyblue;
                        border: solid lightblue 1px;
                    }
                }
            }
        }
    }
}